<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img id="logo" src="../assets/images/logo.png" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
  <ul class="nav justify-content-end">

    <li class="nav-item">
      <a class="nav-link funflix_btn1" href="">Register</a>
    </li>

    <li class="nav-item">
      <a class="nav-link funflix_btn1" [routerLink]="'/login'">Sign In</a>
    </li>

  </ul>
</nav>
<div id="container" style="text-align:center">
  <div id="wrapper">
    <div style="margin-top:100px;">

    </div>
    <div id="main_content">
         <h1>
          Watch TV Shows and Movies anytime, anywhere <br>
          with plans starting at $8.99/month.
        </h1>
        <br /><br />
        <p>
          <a class="funflix_btn" href="">GET YOUR FIRST 3 MONTHS FREE</a>
        </p>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
